<ion-header>
  <ion-toolbar color = "danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab3"></ion-back-button>
    </ion-buttons>
    <ion-title>Pika Fest</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/img/otakus.jpg"/>
    <ion-card-content>
      <ion-card-title>
        Pika Fest
        </ion-card-title>
        <br>
      <p>
        Hacemos una cordial invitación a todo el público Otaku, K-poper, 
        Gamer y Geek de Cuenca a darse cita en este genial evento pensado para
         compartir juntos una tarde amena llena de música, baile, cosplay, videojuegos,
          torneos y todos nuestros hobbies favoritos.
          <br>
        Fecha: Sábado 10 de Mayo del 2020 <br>
        Hora: Desde las 10:00 hasta las 19:00 <br>
        Lugar: Teatro Casa de la Cultura de Cuenca <br>
        Dirección: Luis Cordero, entre Presidente Córdova y Sucre <br>
        
        Actividades a realizar en el evento: <br>
        
        - Concurso Cosplay <br>
        - K-pop Dance Cover Individual <br>
        - K-pop Dance Cover Grupal <br>
        - Concurso de Karaoke K-pop, Anime y Disney <br>
        - Concurso de Dibujo (Infantil) <br>
        - Concurso de Dibujo (Adultos) <br>
        - Torneo de videojuegos <br>
        - Concursos y Trivias Anime <br>
        - Pasarela Cosplay<br>
        - Concursos y Trivias K-pop <br>
        - K-pop Random Dance Challenge <br>
        - Torneo de Softcombat (Lucha con espadas)<br>
        - Ilustradores y Cosplayers Invitados<br>
        - Artistas Invitados<br>
        <br>
        Además, tendremos expositores de todo el país que nos ofrecerán productos relacionados a la cultura japonesa y coreana, entre los cuales podremos encontrar figuras de acción, mangas, comics, maquillaje coreano, álbumes de k-pop, tazas, camisetas, posters, y una infinidad de artículos.
        <br>
        Entradas ya a la venta en Zombie Kater (A. Vega Muñoz 12-17 y Tarqui)<br> 
        Precio de las manillas: $5<br>

      </p>
      <br>
      <ion-item color = "warning">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>30/05/20 <br> 20h00</ion-label>

      <ion-icon name="pricetag-outline"></ion-icon>
      <ion-label>$ 5.00</ion-label>
      </ion-item>
      <ion-item color = "warning">
      <ion-icon name="location-outline"></ion-icon>
      <ion-label>Teatro Casa de <br> la Cultura
      </ion-label>

      
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Público</ion-label>
     </ion-item>

    
  
    
     <ion-item color = "danger">
      <ion-button style="margin: auto;" routerLink = "/mapa-pika" color = "dark">
       Mapa
      </ion-button>
     </ion-item>
    
    </ion-card-content>
 
  </ion-card>

</ion-content>
