<ion-header>
  <ion-toolbar color = "danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab3"></ion-back-button>
    </ion-buttons>
    <ion-title> I Congreso Internacional De Seguridad Alimentaria y Nutricional</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/img/uda.jpg"/>
    <ion-card-content>
      <ion-card-title>
        I Congreso Internacional De Seguridad Alimentaria y Nutricional
        </ion-card-title>
        <br>
      <p>
        ¡Importante!<br>

Se extiende el plazo de envío de resúmenes hasta el 30 de marzo del presente año,
 para I Congreso Internacional de Seguridad Alimentaria y Nutricional.
<br>
La Universidad de Cuenca invita a formar parte del “I Congreso Internacional 
de Seguridad Alimentaria y Nutricional”, este evento se efectuará del  22 al 26 de junio. 
<br>
Las  Temáticas del Congreso son:<br>

- Alimentación,  Salud y Nutrición.<br>
- Economía, Comercio y Políticas Públicas.<br>
- Sistemas alimentarios e impacto medio ambiental.<br>
- Transformación industrial y gastronómica de los alimentos.<br>
- Género, Derecho a la alimentación y pueblos y nacionalidades indígenas.<br>

<br>
Inscripciones abiertas hasta el 21 de junio de 2020. <br>
Envío de resúmenes hasta el 13 de marzo de 2020<br>

      </p>
      <br>
      <ion-item color = "warning">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>22/06/20<br> 08h00</ion-label>

      <ion-icon name="pricetag-outline"></ion-icon>
      <ion-label>$ 5.00</ion-label>
      </ion-item>
      <ion-item color = "warning">
      <ion-icon name="location-outline"></ion-icon>
      <ion-label>Universidad De <br> Cuenca
      </ion-label>

      
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Público</ion-label>
     </ion-item>

    
  
    
     <ion-item color = "danger">
      <ion-button style="margin: auto;" routerLink = "/mapa-congreso" color = "dark">
       Mapa
      </ion-button>
     </ion-item>
    
    </ion-card-content>
 
  </ion-card>

</ion-content>
