<ion-header>
  <ion-toolbar color = "danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab3"></ion-back-button>
    </ion-buttons>
    <ion-title>Cuenca Music Fest 2020</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/img/cuenca.jpg"/>
    <ion-card-content>
      <ion-card-title>
        Cuenca Music Fest 2020
        </ion-card-title>
      <p>
        Una edición en donde podrás Disfrutar, Reciclar y Ayudar de manera ecológica a nuestra ciudad a llegar al objetivo de recoger la mayor cantidad de botellas plásticas para así concientizar a las personas a reducir el uso del plástico ya que el plástico que generamos no se degrada y provoca un impacto muy grave en el medio ambiente, inunda nuestros ríos y lo contaminan de manera grave e irreversible. En la mayoría de los grandes océanos ya hay más plástico en suspensión que plancton, y flotando a la deriva formando islas gigantescas de plástico.A diferencia de otros materiales como el aluminio o el vidrio,  el plástico es un material artificial proveniente del petróleo, que tarda cientos de años en descomponerse en la naturaleza. Es un material prácticamente indestructible, hasta 1.000 años según el tipo de plástico. Utilizar el plástico masiva mente como lo estamos haciendo es un error de consecuencias catastróficas a nivel global.

        Es por eso que vamos a incentivar a las personas al RECICLAJE con la ayuda del Festival en donde reuniremos a los mejores Exponentes de cada género. Combinando la Música con el reciclaje , el  arte Visual y la Cultura en todo su esplendor rescatando a nuestra ciudad de la contaminación.
       
       Porque la música es para compartir sin importar la nacionalidad, sexo, color o religión  "P.L.U.R "Peace, Love, Unity,  Respect" 

      </p>
      <ion-item color = "warning">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>16/04/20 - 16h00</ion-label>

      <ion-icon name="pricetag-outline"></ion-icon>
      <ion-label>Gratis</ion-label>
      </ion-item>
      <ion-item color = "warning">
      <ion-icon name="location-outline"></ion-icon>
      <ion-label>Parque la Libertad</ion-label>

      
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Público</ion-label>
     </ion-item>

    
  
     
     <ion-item color = "danger">
      <ion-button style="margin: auto;" routerLink = "/mapa-cuenca" color = "dark">
       Mapa
      </ion-button>
     </ion-item>
    
    </ion-card-content>
 
  </ion-card>

</ion-content>
