<ion-header>
  <ion-toolbar color = "danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab3"></ion-back-button>
    </ion-buttons>
    <ion-title>Viva Cuenca 2020</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-card color = "danger" >
    <img src="assets/img/fiesta.jpg"/>
    <ion-card-content>
      <ion-card-title>
        Viva Cuenca 2020
        </ion-card-title>
      <p>
      ¡Celebremos a Cuenca, en el mejor sitio de la ciudad ESTANCIA ROSARIO (Salón Los Sauces)!
      <br>

        - Comparte estas fiestas con tus amigos, en la mejor farra concierto de la ciudad con Don Medardo y sus players y como artista invitado Michael Landa!
      <br>
        - ¡Sigue la fiesta con uno de los mejores DJ de la ciudad!
      <br>  
        - No te olvides de nuestras tres barras libres, con el auspicio de Coctiki en donde probarás 45 sabores diferentes de cocteles!
      <br>  
        - Shots, activaciones y actividades para grupos.
      <br>  
        - Disfrutaremos de pirotecnia fría y alimentos.
      <br>
      <br>  
        OPEN BAR (TODA LA FIESTA)
      <br>  
        GENERAL
      <br>  
        Preventa 1: $10
      <br>
        Preventa 2: $15
        <br>
        Venta: $20
        <br>
        Incluye barra libre de cocteles con el auspicio de Coctiki!
        <br>
        PREFERENCIA
        <br>
        Preventa 1: $20
        <br>
        Preventa 2: $25
        <br>
        Venta: $30
        <br>
        <br>
        Incluye barra libre toda la noche de cocteles y ron con el auspicio de Coctiki!
        

      </p>
      <ion-item color = "warning">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>10/04/20 - 20h00</ion-label>

      <ion-icon name="pricetag-outline"></ion-icon>
      <ion-label>$10.00</ion-label>
      </ion-item>
      <ion-item color = "warning">
      <ion-icon name="location-outline"></ion-icon>
      <ion-label>Estancia Rosario</ion-label>

      
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Privado(+18)</ion-label>
     </ion-item>

    
  
     <ion-button id="mapa" routerLink = "/tab5" color = "dark">
      Mapa
     </ion-button>

    
    </ion-card-content>
 
  </ion-card>

</ion-content>
