<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="registro">
      Registro de Usuario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div align="center"><img src="assets/img/logoazu.png"></div>
  <ion-header collapse="condense">
  </ion-header>




  <form #formRegister="ngForm"(ngSubmit)="onRegister()">
    <ion-item>

      <ion-input name="name" type="text" placeholder="Nombre Completo" [(ngModel)]="user.name" required ></ion-input>
      <ion-icon name="person" slot="start"></ion-icon>

    </ion-item>

    <ion-item>

      <ion-input name="email" type="email" placeholder="Correo Electrónico" [(ngModel)]="user.email" pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"  required></ion-input>
      <ion-icon name="mail" slot="start"></ion-icon>

    </ion-item>

    <ion-item>

      <ion-input name="password" placeholder="Contraseña" type="password" [(ngModel)]="user.password" pattern=".{6,}" required></ion-input>
      <ion-icon name="lock-closed" slot="start"></ion-icon>

    </ion-item>

    <ion-item>
      <ion-button class="cuenta" type="submit"  color="dark" routerLink="/tab3" [disabled]="formRegister.invalid">
        Crear Cuenta
      </ion-button>
    </ion-item>

    <ion-item>
        <ion-button routerLink="/tab1" color="dark">¿Ya tienes una cuenta?</ion-button>
      </ion-item>
  

  </form>

</ion-content>