<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="registro">
      Registro de Usuario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div align="center"><img src="assets/img/logoazu.png"></div>
  <ion-header collapse="condense">
  </ion-header>




  <form [formGroup]="registerForm">
    <ion-item>

      <ion-input formControlName="name" placeholder='Nombre Completo'></ion-input>
      <ion-icon name="person" slot="start"></ion-icon>

    </ion-item>

    <ion-item>

      <ion-input formControlName="email" placeholder="Correo Electrónico"></ion-input>
      <ion-icon name="mail" slot="start"></ion-icon>

    </ion-item>

    <ion-item>

      <ion-input formControlName="password" placeholder="Contraseña" type="password"></ion-input>
      <ion-icon name="lock-closed" slot="start"></ion-icon>

    </ion-item>

    <ion-item>

      <ion-input formControlName="confirm" placeholder="Confirmar Contraseña" type="password"></ion-input>
      <ion-icon name="lock-closed" slot="start"></ion-icon>

    </ion-item>

    <ion-item>
      <ion-button class="cuenta" (click)='register()' color="dark">
        Crear Cuenta
      </ion-button>
    </ion-item>

  </form>

</ion-content>