<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title class="registro">
      Iniciar Sesion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div align="center"><img src="assets/img/logoazu.png"></div>
  <ion-header collapse="condense">
  </ion-header>




  <form #formRegister="ngForm"(ngSubmit)="onLogin()">
  

    <ion-item>

      <ion-input name="email" type="email" placeholder="Correo Electrónico" [(ngModel)]="user.email"   pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" 
      title="Eight or more characters" required></ion-input>
      <ion-icon name="mail" slot="start"></ion-icon>

    </ion-item>

    <ion-item>

      <ion-input name="password" placeholder="Contraseña" type="password"  pattern=".{6,}" [(ngModel)]="user.password" required></ion-input>
      <ion-icon name="lock-closed" slot="start"></ion-icon>

    </ion-item>

    <ion-item class="boton">
      <ion-button (click)="onLogin()" class="cuenta" type="submit" color="dark" routerLink="/tab3" [disabled]="formRegister.invalid">
        Ingresar
      </ion-button>
    </ion-item>

     <ion-item>
        <ion-button routerLink="/tab2"  color = "dark">¿No tienes una cuenta?</ion-button>
     </ion-item>
  

  </form>

</ion-content>