

<ion-header [translucent]="true" no-border >
  <ion-toolbar color="danger" >
    <ion-title>
      Iniciar Sesiòn
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  
  <div align="center" class="top-20"><img src="assets/img/logoazu.png" ></div>
  <ion-header collapse="condense">
  </ion-header>


<form [formGroup]="loginForm">
    <ion-item>
     
      <ion-input formControlName="email" placeholder='Correo Electronico'></ion-input>
      <ion-icon name="person" slot="start"></ion-icon>
                
    </ion-item>

  <ion-item>
  
    <ion-input formControlName="password" placeholder="Contraseña" type="password"></ion-input> 
    <ion-icon name="lock-closed" slot="start"></ion-icon>
              
  </ion-item>

<ion-item>
  <ion-button (click)="login()" style="margin: auto;" color = "dark"> 
    Ingresar
  </ion-button>
</ion-item>

<ion-item>
  <ion-button class="crear" color = "danger" routerLink = "/tab2" >
      Crear cuenta
    </ion-button>
  
  </ion-item>

</form>
</ion-content>
