<ion-header [translucent]="true" no-border>

  <ion-toolbar color="danger">
    <!-- 
    <ion-buttons slot="end">
      <ion-searchbar placeholder="buscar"
      [(ngModel)] = "queryText"
      (ionInput)="FilterJSONData($event)" 
      color = "warning" *ngIf="isSearchbarOpened" showCancelButton="true"(ionCancel)="isSearchbarOpened=false"></ion-searchbar>
     
       <ion-button *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true">
           <ion-icon name="search"></ion-icon>
        </ion-button> 
      
      </ion-buttons>

    <ion-buttons slot="start">
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu">

        </ion-icon>
      </ion-button>
    </ion-buttons>
    -->

    <ion-buttons slot="end">
      <ion-button (click)="Nuevo()"></ion-button>
      <ion-icon slot="icon-only" name="add-circle"></ion-icon>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)=onLogout() routerLink="/tab1"></ion-button>
      <ion-icon slot="icon-only" name="exit"></ion-icon>
    </ion-buttons>


    <ion-title>
      Eventos
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>


    <ion-card>
      <img src="assets/img/roto.jpeg" />
      <ion-card-content>
        <ion-card-title> <b>Roto Fest 2020</b>

        </ion-card-title>
        <br>
        <p>
          Cuenca se posiciona como el destino preferido de entretenimiento del país y por décimo tercer año consecutivo,
          los días sábado 28 y domingo 29 de abril,
          será sede del RotoFest2018,
          el festival internacional de música electrónica e independiente mas grande del Ecuador.
        </p>
        <br>
        <ion-button style="margin: auto;" color="dark" routerLink="/tab6">
          Información
        </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img src="assets/img/cuenca.jpg" />
      <ion-card-content>
        <ion-card-title><b>
            Cuenca Music Fest
          </b>



        </ion-card-title>
        <br>
        <p>
          Una edición en donde podrás Disfrutar, Reciclar y Ayudar de manera ecológica a nuestra ciudad a llegar
          al objetivo de recoger la mayor cantidad de botellas
          plásticas para así concientizar a las personas a reducir el uso del plástico
          ya que el plástico que generamos no se degrada
          y provoca un impacto muy grave en el medio ambiente.
        </p>
        <br>
        <ion-button style="margin: auto;" color="dark" routerLink="/tab7">
          Información
        </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img src="assets/img/abduccion.jpg" />
      <ion-card-content>
        <ion-card-title>
          <b>La abducción</b>



        </ion-card-title>
        <br>
        <p>

          ¡LA ABDUCCIÓN!<br>
          Una fiesta de otro mundo..<br>
          Atrévete a sentir algo diferente en un lugar magnífico.
          Podrás ingresar rápidamente por los accesos habilitados de manera estratégica
        </p>
        <br>
        <ion-button style="margin: auto;" color="dark" routerLink="/tab8">
          Información
        </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img src="assets/img/otakus.jpg" />
      <ion-card-content>
        <ion-card-title>
          <b>Pika Fest</b>

        </ion-card-title>
        <br>
        <p>
          Hacemos una cordial invitación a todo el público Otaku,
          K-poper, Gamer y Geek de Cuenca a darse cita en este genial
          evento pensado para compartir juntos una tarde
          amena llena de música, baile, cosplay, videojuegos, torneos y todos nuestros hobbies favoritos.
        </p>
        <br>
        <ion-button style="margin: auto;" color="dark" routerLink="/tab9">
          Información
        </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img src="assets/img/compadres.jpg" />
      <ion-card-content>
        <ion-card-title>
          <b> Compadres Tour </b>
        </ion-card-title>
        <br>
        <p>
          Cepeda y Fonseca unen sus talentos en este 2020 para deleitarnos
          con sus más grandes canciones en un escenario lleno de talento, carisma, romance y fiesta, y llegan a Ecuador
          para deleitarnos con un show alucinante el viernes 29 de mayo en Cuenca en el Coliseo Jefferson Pérez 20h00.
        </p>
        <br>
        <ion-button style="margin: auto;" color="dark" routerLink="/tab10">
          Información
        </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img src="assets/img/uda.jpg" />
      <ion-card-content>
        <ion-card-title>
          <b> I Congreso Internacional De Seguridad Alimentaria y Nutricional </b>
        </ion-card-title>
        <br>
        <p>
          ¡Importante!

          Se extiende el plazo de envío de resúmenes hasta el
          30 de marzo del presente año, para I Congreso Internacional de Seguridad Alimentaria y Nutricional.

          La Universidad de Cuenca invita a formar parte del “I Congreso Internacional de Seguridad
          Alimentaria y Nutricional”, este evento se efectuará del 22 al 26 de junio.

        </p>
        <br>
        <ion-button style="margin: auto;" color="dark" routerLink="/tab11">
          Información
        </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-item-sliding *ngFor="let evento of eventos">

      <ion-item-options side="start">
        <ion-item-option (click)="editar(evento.idEvento)" color="tertiary" expandable>
          Editar
        </ion-item-option>
      </ion-item-options>
      

      <ion-card>
        <ion-card-content>
          <ion-card-title>
            <b> {{evento.nombreEvento}} </b>
          </ion-card-title>
          <br>
          <p>
            {{evento.descripcion}}
          </p>
          <ion-item>
            <ion-icon name="calendar"></ion-icon>
            {{evento.fecha}}
          </ion-item>

          <ion-item>
            <ion-icon name="time"></ion-icon>
            {{evento.hora}}
          </ion-item>

        </ion-card-content>
      </ion-card>

      
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="eliminar(evento.idEvento)" expandable>
          Eliminar
        </ion-item-option>
      </ion-item-options>
      
    </ion-item-sliding>

  </ion-list>


</ion-content>