<ion-app>
  <ion-menu side="start"
  menuId="primerMenu"
  contentId="principal">
  <ion-header>
  <ion-toolbar color="danger">
  <ion-title>Menu</ion-title>
  </ion-toolbar>
  </ion-header>
  <ion-content>
    
    <ion-menu-toggle color="warning">
  <ion-list>
    <ion-item slot="start" color = "warning">
      <ion-icon name="search-outline"></ion-icon> <ion-button  color="danger">Buscar</ion-button>
    </ion-item>
    <ion-item slot="start" color = "warning">
      <ion-icon name="add-circle-outline"></ion-icon> <ion-button  color="danger" routerLink="/crear-evento">Crear Evento</ion-button>
    </ion-item>
    <ion-item slot="start" color = "warning">
      <ion-icon name="star-outline"></ion-icon> <ion-button  color="danger" routerLink ="/favoritos">Favoritos</ion-button>
    </ion-item>
    <ion-item slot="start" color = "warning">
      <ion-icon name="arrow-back-outline"></ion-icon> <ion-button routerLink = "/tab1" color ="danger">Salir</ion-button>
    </ion-item>
 
  </ion-list>
</ion-menu-toggle>
  </ion-content>
  </ion-menu>
  <ion-router-outlet id="principal"></ion-router-outlet>
</ion-app>
