<ion-header>
  <ion-toolbar color = "danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab3"></ion-back-button>
    </ion-buttons>
    <ion-title>Roto Fest 2020</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/img/roto.jpeg"/>
    <ion-card-content>
      <ion-card-title>
        Roto Fest 2020
        </ion-card-title>
      <p>
        RotoFest [ ROCK STAGE ] 2020 🎸 <br>
        Celebramos nuestros 15 Años de Festival con un cartel de 
        recontralujo como se lo merece nuestra ciudad en el bicentenario
         de su independencia. <br>
         - PUYA [ Puerto Rico ] <br>
         - PATO MACHETE [ México ] <br>
         - MAMÁ VUDÚ <br>
          - AZTRA <br> 
          - LA DOBLE MATAZAR <br> 
          - CASCOS DE ARENA  <br>
           - DYNAMO <br> 
         - PACO VÉLEZ <br> 
         - VIERNES 1 DE MAYO <br>
          - 10H00 <br>
         - PLAZA DEL OTORONGO <br> 
         - Evento Gratuito <br>
         - Libre de Alcohol y Violencia <br>
          - #Rotofest <br> 
          - #CuencaBicentenario

      </p>
      <ion-item color = "warning">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>01/05/20<br> 20h00</ion-label>

      <ion-icon name="pricetag-outline"></ion-icon>
      <ion-label>Gratis</ion-label>
      </ion-item>
      <ion-item color = "warning">
      <ion-icon name="location-outline"></ion-icon>
      <ion-label>Plaza del <br> Otorongo</ion-label>

      
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Público</ion-label>
     </ion-item>

    
  <ion-item color = "danger"  >
     <ion-button style="margin: auto;" routerLink = "/mapa-roto" color = "dark">
      Mapa
     </ion-button>
    </ion-item>
    
    </ion-card-content>
 
  </ion-card>

</ion-content>
