<ion-header>
  <ion-toolbar color = "danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab3"></ion-back-button>
    </ion-buttons>
    <ion-title>La Abducción</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-card  >
    <img src="assets/img/abduccion.jpg"/>
    <ion-card-content>
      <ion-card-title>
        La Abducción
        </ion-card-title>
      <p>
        
 ¡LA ABDUCCIÓN!
Una fiesta de otro mundo..
<br>
Te traemos el mejor evento para el 03 de abril en el Colegio de Arquitectos "C.A.E" ubicado en el sector del Control Sur - Narancay.
<br>
¡Te invitamos a vivir la mejor experiencia en un ambiente único!<br>
- Con música en vivo a cargo de la Orquesta Tumba Tres<br>
- Con los mejores licores? y los mejores detalles preparados exclusivamente para ti.<br>

?Atrévete a sentir algo diferente en un lugar magnífico.
<br>
Podrás ingresar rápidamente por los accesos habilitados de manera estratégica✅
<br>
Durante el evento disfrutarás de una ambientación con iluminación intergaláctica ☄️ y si vienes vestid@ de blanco recibirás órdenes de consumo gratis en la farraa!!!
<br>
Además, tendremos barra libre cada hora y muchas sorpresas más!‼️


      </p>
      <ion-item color = "warning">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>02/05/20 - 20h00</ion-label>

      <ion-icon name="pricetag-outline"></ion-icon>
      <ion-label>$ 15.00</ion-label>
      </ion-item>
      <ion-item color = "warning">
      <ion-icon name="location-outline"></ion-icon>
      <ion-label>Colegio de<br> Arquitectos</ion-label>

      
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Privado(+18)</ion-label>
     </ion-item>

    

    
     <ion-item color = "danger">
      <ion-button style="margin: auto;" routerLink = "/mapa-abduccion" color = "dark">
       Mapa
      </ion-button>
     </ion-item>
    
    </ion-card-content>
 
  </ion-card>

</ion-content>
